<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CORS Test</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h2>CORS test</h2>
  </header>
  <article class="content">
    <section class="content--image">
      <img>
      <button class="content--image__button__same">이미지 요청(동일 출처)</button>
      <button class="content--image__button__cross">다른 출처 이미지 요청(Preflight Request)</button>
    </section>

    <section class="content--simple-request">
      <p></p>
      <button class="content--simple-request__button">다른 출처 텍스트 요청(Simple Request)</button>
    </section>

    <section class="content--credential-request">
      <p></p>
      <button class="content--credential-request__button">다른 출처 인증 요청(Credentialed Request)</button>
    </section>
  </article>
  <script src="js/index.js"></script>
</body>
</html>